@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
  }
  .btn-round { border-radius: 30px; }
  .bg-white { background:white; }
  .bg-pink { background:	#df004f; }
  .text-cyan { color: #35bdff; }
  .text-pink{
    color:#df004f;
  }
  #name {
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    outline:none;
    box-shadow:none;
  }

  .form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid #FFF;
    outline:none;
    box-shadow:none;
  }
  .size{
    width:170px;
    height:100px;
  }
  /* Styles go here */
  #name1{
    background: transparent;
    border: none;
    border-bottom: 1px solid #df004f;
    outline:none;
    box-shadow:none;
  }
  .header{
    cursor: pointer;
    border: solid 1px #f2f2f2;
    padding: 15px;
    background-color: #0089CC;
    color: #FFF;
    font-family: verdana;
  }
  .cor{
    font-weight: bold;
  }
  
  .cus{
    color: #df004f;
    font-weight: bold;
    width: 150px;
    height: 30px;
    font-size: small;
  }
  .or{
  
    position: absolute;
    display: flex;
    border-color: #df004f;
    background-color: white;
    border-radius: 50%;
    color: #df004f;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
    line-height: 40px;
    z-index: 1;
    top:calc(50vh - 20px);
    left:calc(50vw - 20px);
    padding: 2px;
    width: 40px;
    height:40px;
    text-align: center;
  
  } 
  /*.customOr{
    width:100%;
    display: block;
    text-align: center;
    margin:2% auto 0  auto;
    padding:1%;
    margin-top: 300px;
    max-width: 30px;
    z-index: 1;
    background-color: white;
  }
  .inner{
    border-radius:50%;
    display:inline;
    padding:2%;
    background-color: #fff;
    color:#df004f;
    border:1px solid #df004f;
    box-shadow:0 2px 4px 1px rgba(0,0,0,0.016);
   
  
  } */

  .loginmobile {
    height: 90vh;
  }
  
  
  @media only screen and (max-width: 768px) {
    .or{
  
      /* position: absolute; */
      border-color: #df004f;
      background-color: white;
      border-radius: 50%;
      color: #df004f;
      box-shadow: 0 2px 4px rgba(0,0,0,0.6);
      line-height: 40px;
      top: calc(90vh - 20px);
      left: calc(50vw - 20px);
      padding: 2px;
      width: 40px;
      height:40px;
      /* bottom: 50px; */
      text-align: center;
      align-items: center;
    
    } 
    
  }
  .cus1{
    font-size: small;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 40px;
  }
  
  /* Shared */
  .loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
    width: 208px;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }
  .flag-dropdown {
    position: absolute;
    width:0px;
    background-color: #eaeaea;
    border: 0px solid #cacaca;
    border-radius: 3px 0 0 3px;
  }
       .open-dropdown {
      background: #fff;
      border-bottom: 0;
      border-radius: 3px 0 0 0;
       }
      .selected-flag {
        background: #fff;
        border-radius: 3px 0 0 0;
        width: 25px;
        margin-top: 30px;
      }
    
    /* :hover {
      cursor: pointer;
    } */
      .selected-flag {
        background-color: #fff;
      }
    
      .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);
       -webkit-transform: rotate(45deg);
      }

      .ml-5, .mx-5 {
        margin-left: 1.2rem!important;
    }
    
    
