
.roomUIList .filterTop {
    background-color:#eb2147; 
    width: 80%; 
    height: 0.7rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    margin: 0 auto;
}

.roomUIList .filterSelect {
    display: flex;
    justify-content: center;
    width: calc(100vw - 2rem);
    margin-bottom: 1rem;
	
}

.filterSelect .ant-select-selection {
    border-radius: 1px !important;
    /* border: none; */
    width: 80vw;
    border-color: red;

}
.ant-input-number {
    font-size: 16px !important;
    border-color: red;
}
.roomFinalMain {
    background: linear-gradient(180deg, rgba(100,151,172,1) 0%, rgba(185,209,219,1) 100%); 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


 .filter {
    display: none;
}



.mobileSearch {
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.fliterMainContainer {
    display: flex;
    flex-direction: column;

}

.slidermaincontainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 1rem 0;
    align-items: center;
    font-size: 1.5rem;
}



.ant-input-number {
    width: 33vw;
}

.FilterControl {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 2rem;
    margin: 1rem;
}
.scrollToTopClass {
    border: 2px solid #f48247 !important;
    background-color: #f48247 !important;
    color: white;
    font-size: 2rem;

    z-index: 15;
    border-radius: 50% !important;
    height: 5rem;
    width: 5rem;
    bottom: 10% !important;

    display: flex;
    justify-content: center;
    align-items: center;

}

.budgettext{
    font-size: 15px;
    color: black;
    padding-top: 12px;
}
.Filtertext{
    font-size: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 20px;
    display: none;
}


.sliderfilterclassmain{
	width: 90%;

}

.sliderfilterclassmain .sliderStyle {
    margin: 2rem, auto;
}

.sliderfilterclassmain .sliderStyle div {
    background-color:red;
}

.buttonslider{
	float:right;
}

.ant-checkbox-group .ant-checkbox-wrapper {
    width: 100% !important;
}

.filterOutline {
    width: 90vw;
    margin: auto;
    border: 2px solid red;
    border-radius: 2rem;
    display: none;
    flex-direction: column;
    align-items: center;
}

.elementShow {
    display: flex !important;
}

.elementHide {
    display: none ;
}

.desktopCurrency{
    margin-bottom: 3rem;
}
@media screen and (min-width: 776px){
    .filterSelect {
        /* display: none; */

        /* align-self: flex-end; */
        justify-content: flex-end;
        margin: 1rem 0;
    }
    .filterSelect .ant-select-selection {
        border-radius: 1px !important;
        /* border: none; */
        width: 18vw;
        border-color: red;
    
    }
    .roomUIList .filterTop {
        background-color:#eb2147; 
        width: 20vw; 
        height: 0.7rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        margin: 0;
    }

    .fliterMainContainer {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
    }
    .sliderStyle {
        display: flex;
        width: calc(20vw - 4rem);
    }
    
    .slidermaincontainer {
        display: flex;
        /* width: 20vw; */
        justify-content: space-evenly;
    }
    
    .mobileSlider {
        display: none;
    }

    .ant-input-number {
        width: 90px;
    }
    /* .roomUIList .filter {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background-color: #eb2147; 
    }

    .roomUIList .filterButton {
        background-color: #eb2147;
        border-color: #eb2147;
        border-radius: 0%;
        width: 33.3%;
        border-bottom-width: 0;
        border-bottom-color: white;
    } */
    .roomFinalMain {
        background: none;
    }
    .desktopSearch {
        display: flex;
    }
    .mobileSearch {
        display: none;
    }
    .FilterControl {
        display: none;
    }
    .desktopCurrency {
        display: none !important;
    }
    .filterOutline {
        width: 20vw;
        display: flex;
    }
    .Filtertext{
        display: inline-block;
    }
}