
.checkInOut{
    font-size: 1rem;
    margin: 1rem;
}

.checkInOut heading {
    font-weight: bold;
}
@media screen and (min-width: 992px) {
    .checkInOut{
        font-size: 2rem;
        margin: 1rem;
    }

    .checkInOut heading {
        font-weight: bold;
    }
}