.MobileLocationContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
    margin-left: 0;
    border-radius: 1rem;
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: 2rem;

}

.MobileLocationLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.MobileLocationDate {
    font-size: 1rem;
}