.RoomPriceContainer {
    
    border: 1px solid #dae0ed;
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    /* background-color: #b8d0da; */
}

.roomSelect{
    display: flex;
    justify-content: space-between;
}
.costRoom {
    color:#0075d2; 
    font-size:2rem;
    font-weight:bold;
}

.Roomloading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.hrStyle {
    border-color:#dae0ed; 
    margin: 2rem 0;
}

@media screen and (min-width: 776px){
    .RoomPriceContainer {
        margin:1rem;
    margin-left: 0;
    margin-bottom: 0;
    width: 49%;
    font-size: 1.5rem;
    } 
    .costRoom {
        color:#15c977; 
    }
}